<!--cc-->
<ul class="nav nav-list CC-menu">

    <li class="open" rel="{$D}/{$C}/">
        <a href="#" class="dropdown-toggle">
            <i class="icon-desktop"></i>
            <span class="menu-text"> 人大代表联络站 </span>
            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu" style="display: block">
            <li>
                <a href="{$D}/{$C}/start/m">
                    <i class="icon-double-angle-right"></i>
                    简介管理
                </a>
            </li>
        </ul>
    </li>

    <li class="open" rel="{$D}/{$C}/">
        <a href="#" class="dropdown-toggle">
            <i class="icon-desktop"></i>
            <span class="menu-text"> 联系选区示意图 </span>
            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu" style="display: block">
            <li>
                <a href="{$D}/{$C}/area/m">
                    <i class="icon-double-angle-right"></i>
                    选区管理
                </a>
            </li>
            <li>
                <a href="{$D}/{$C}/person/m">
                    <i class="icon-double-angle-right"></i>
                    人大代表
                </a>
            </li>
            <li>
                <a href="{$D}/{$C}/act/m">
                    <i class="icon-double-angle-right"></i>
                    社会活动
                </a>
            </li>
        </ul>
    </li>

    <li class="open" rel="{$D}/{$C}/">
        <a href="#" class="dropdown-toggle">
            <i class="icon-desktop"></i>
            <span class="menu-text"> 联络站台账 </span>
            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu" style="display: block">
            <li>
                <a href="{$D}/{$C}/year/m">
                    <i class="icon-double-angle-right"></i>
                    年份管理
                </a>
            </li>
            <li>
                <a href="{$D}/{$C}/word/m">
                    <i class="icon-double-angle-right"></i>
                    代表建议或议案
                </a>
            </li>
            <li>
                <a href="{$D}/{$C}/receive/m">
                    <i class="icon-double-angle-right"></i>
                    代表接待选民情况
                </a>
            </li>
            <li>
                <a href="{$D}/{$C}/message/m">
                    <i class="icon-double-angle-right"></i>
                    议政会管理
                </a>
            </li>
            <li>
                <a href="{$D}/{$C}/work/m">
                    <i class="icon-double-angle-right"></i>
                    代表述职情况
                </a>
            </li>
            <li>
                <a href="{$D}/{$C}/work/imgs">
                    <i class="icon-double-angle-right"></i>
                    代表述职图片
                </a>
            </li>
            <li>
                <a href="{$D}/{$C}/project/m">
                    <i class="icon-double-angle-right"></i>
                    民生实事管理
                </a>
            </li>
            <li>
                <a href="{$D}/{$C}/inspect/m">
                    <i class="icon-double-angle-right"></i>
                    代表督查管理
                </a>
            </li>
            <li>
                <a href="{$D}/{$C}/lead/m">
                    <i class="icon-double-angle-right"></i>
                    领导关怀管理
                </a>
            </li>
        </ul>
    </li>

    <li class="open" rel="{$D}/{$C}/">
        <a href="#" class="dropdown-toggle">
            <i class="icon-desktop"></i>
            <span class="menu-text"> 数据导出 </span>
            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu" style="display: block">
            <li>
                <a href="{$D}/{$C}/getdata/tz">
                    <i class="icon-double-angle-right"></i>
                    台账数据导出
                </a>
            </li>
            <li>
                <a href="{$D}/{$C}/getdata/rd">
                    <i class="icon-double-angle-right"></i>
                    行政区数据导出
                </a>
            </li>
        </ul>
    </li>

</ul><!-- /.nav-list -->

<script type="text/javascript">
$(function () {
    $.each($('.CC-menu li'),function(){
        if (location.href.indexOf($(this).attr('rel'))>0 ) {
            $(this).addClass('active');
        }
    })
})
</script>
<!--cc-->